.component-list-room {
    background-color: #FFF;
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.1);
    padding: 24px;
    margin-bottom: 8px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}